<form action="/new_player" class="form" method="post">
  <h3>What your name?</h3>
  <input type="text" id="player_name" name="player_name" />
  <br/>
  <input id="sumbit_player_name" type="submit" class="btn"/ >
</form>
